<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{% static '/js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static '/img/gunsin.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>에픽그래프</title>
</head>
{% block content %}
<body class="w-full home text-xl" style="font-family: 'Do Hyeon', sans-serif;">
    <div class="container mx-auto mt-5">
        <img src="{% static '/img/epic.gif' %}" class="mx-auto img">
        <form action="{% url 'search' %}" method="GET" class="w-form p-4 text-center border border-gray-400 mx-auto mt-10">
            {{form.as_p}}
            <button id="search" class="text-black mt-5 bg-yellow-300 shadow-md rounded-lg px-16 py-1 hover:bg-yellow-400">
                검색
            </button>
            <div class="text-lg text-center mt-5 border-b pb-3">-본 사이트는 pc환경에 최적화되었습니다-<br>
            <span class=" text-red-600 underline">조회기간은 최대 90일까지 설정 가능합니다</span></div>
            <div class="text-lg text-center mt-5">개발자 이메일: garlictoastsource@gmail.com</div>
        </form>
    </div>
    <footer class="text-center mx-auto mt-4" style="width: 400px;">
        <a href="http://developers.neople.co.kr" target="_blank">
            <img src="{% static '/img/logo.png' %}" alt="Neople 오픈 API" class="h-32 mx-auto" />
        </a>
    </footer>
</body>
{% endblock content %}

</html>