{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            let count = {{count}};
            let rows = {{date|safe}};
            let name = "{{name}}";
            Highcharts.chart("container", {
                title: {
                    text: "에픽 획득 추이",
                },
        
                subtitle: {
                    text: "나는 운이 좋은 사람인가?",
                },
        
                yAxis: {
                    title: {
                        text: "획득 에픽 수",
                    },
                },
        
                xAxis: {
                    categories: rows
                },
        
                legend: {
                    layout: "vertical",
                    align: "right",
                    verticalAlign: "middle",
                },
        
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false,
                        },
                    },
                },
        
                series: [
                    {
                        name: name,
                        data: count,
                    },
                ],
        
                responsive: {
                    rules: [
                        {
                            condition: {
                                maxWidth: 500,
                            },
                            chartOptions: {
                                legend: {
                                    layout: "horizontal",
                                    align: "center",
                                    verticalAlign: "bottom",
                                },
                            },
                        },
                    ],
                },
            });
        };  
    </script>
    <link rel="icon" href="{% static '/img/gunsin.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>에픽그래프</title>
</head>
<body>
    <div>
        <div id="container" class="w-1/2 mx-auto"></div>
        <div class="text-center">
            <div>
                기간 내 총 에픽 획득량 : {{all_count}}
            </div>
            <div>
                기간 내 일일 평균 에픽 획득량 : {{avg_count}}
            </div>
            <div>
                기간 내 일일 최대 에픽 획득량 : {{max_count}}
            </div>
        </div>
    </div>
</body>
</html>